"*":
  "atom-material-ui":
    colors:
      genAccent: true
    tabs: {}
    ui:
      panelContrast: true
  core:
    disabledPackages: [
      "highlight-column"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "MeiryoKe_Console"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 140
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "6981b276-0fba-cf05-5679-76f25fc66bcd"
  "git-history": {}
  "git-plus": {}
  minimap: {}
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "remote-edit2": {}
  welcome:
    showOnStartup: false
